@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;

.messaging-page {
    margin: 0 2rem;
    flex-grow: 1;

    &__messaging {
        display: flex;
        gap: 1rem;
        height: 100%;

        .message-history {
            width: 40%;
            height: calc(100vh - 67.33px - 112px);
            overflow-y: auto;
        }

        .current-conversation {
            position: relative;
            display: flex;
            flex-grow: 1;
            height: calc(100vh - 67.33px - 112px);
            overflow-y: auto;
            flex-direction: column;
            align-self: flex-end;
            justify-content: flex-end;
            width: 60%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            overflow: hidden;
        }
    }
}

.reply-section {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid $light-grey-color;
    background-color: #f9f9f9;
    gap: 1rem;


    textarea {
        padding: 1rem;
        border: 1px solid $light-grey-color;
        border-radius: 4px;
        resize: none;
        width: 80%;
        height: 3rem;
        font-family: inherit;
        font-size: 1rem;
    }


    button {
        padding: .9rem;
        border: none;
        border-radius: 4px;
        background-color: $secondary-color;
        color: $white-color;
        cursor: pointer;
        width: 15%;
        font-size: 1rem;

        &:hover {
            background-color: $primary-color;
            color: $secondary-color;
        }
    }
}