$mobile-breakpoint: 767px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-color: #060724;
$secondary-color: #EB7F67;
$white-color: #EDECED;
$light-grey-color: #A69f9A;

$oxford-blue: #060724;
$sage: #839788;
$champagne: #EEE0CB;
$khaki: #BAA898;
$columbia-blue: #BFD7EA;