@use "../../styles/partials/variables" as *;

.chat-box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
    max-height: 400px;
    overflow-y: auto;

    .message {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        &__sender {
            font-size: 0.85rem;
            font-weight: bold;
            margin-bottom: 2px;
            color: $dark-grey;

            &--left {
                align-self: flex-start;
            }

            &--right {
                align-self: flex-end;
            }
        }

        &__bubble {
            max-width: 70%;
            padding: 10px;
            border-radius: 12px;
            font-size: 0.9rem;
            line-height: 1.4;

            &--left {
                align-self: flex-start;
                background-color: $message-bubble-left;
                border-top-left-radius: 0;
            }

            &--right {
                align-self: flex-end;
                background-color: $message-bubble-rigt;
                color: #fff;
                border-top-right-radius: 0;
            }
        }

        &__content {
            margin: 0;
        }


        .scam-alert {
            display: flex;
            align-items: center;
            color: red;
            background-color: $light-yellow;
            border: 1px solid #ff4d4d;
            border-radius: 8px;
            padding: 4px 8px;
            margin-top: 8px;

            &__icon {
                height: 30px;
                width: 30px;
                margin-right: 8px;
                margin-right: 10px;
            }

            span {
                font-size: 14px;
                line-height: 1.4;
            }
        }
    }
}