@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;

.footer {
    background-color: $secondary-color;
    left: 0;
    bottom: 0;
    height: 7rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__copyright {
        font-size: inherit;
        display: block;
        width: min-content;
        margin-inline: auto;
        white-space: nowrap;
    }
}